* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Manrope', sans-serif;
}

.main-title {
    padding: 20px 10px;
    margin: 0 auto;
    text-align: center;
}

.topic__form {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.topic__textbox {
    padding: 5px;
}

.topic__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}

.topic__list li {
    width: 180px;
    height: 60px;
    border: 2px solid #038c4c;
    border-radius: 5px;
    margin: 5px;
    list-style: none;
    padding: 5px;
    box-shadow: 10px 5px 5px #bfbfbf;
}

.topic__button {
    background-color: #0597f2;
    /* border: 2px solid #000000; */
    border: none;
    color: #ffffff;
    outline: none;
    padding: 10px 25px;
    margin: 10px 0;
}

.progress-timer {
    width: 200px;
    height: 120px;
    background-color: #56828c;
    border: 4px solid #3c6973;
    padding-top: 10px;
}

.progress-timer__display {
    width: 80%;
    height: 50px;
    background-color: white;
    margin: 0 auto;
    border: 4px solid #3c6973;
}

.section__topics,
.section__tools {
    padding: 10px;
}

.section__topics {

}

.section__tools {
    padding-top: 15px;
}

.timer__section {
    margin-top: 10px;
}

.timer__header {
    margin-bottom: 10px;
}

@media (min-width: 768px) {

    .topic__form {
        flex-direction: row;
    }

    .topic__button {
        margin: 0 0 0 10px;
    }



}